*{
    margin :0;
    padding: 0;
    text-align: center;
}
h1{
    height:5rem;
    background-color: black;
    color: white;
    line-height:5rem ;
}
.choice:hover{
    cursor: pointer;
    border:5px solid black;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
    margin-top: 5rem;
}
.choice{
    height:15rem ;
    width: 15rem;
    display: inline;
    border-radius: 50%;
}
img{
    height:15rem ;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    gap:2.5rem;
    font-size:2rem;
}
#user-score , #comp-score{
    font-size: 4rem;
}
.mes-container{
    margin-top: 4rem;
}
#mes{
    font-size: 2rem;
    background-color: black;
    color: white;
    display: inline;
    padding:1rem;
    border-radius: 1rem;
}